.idea/
logs/
*.pth
!*.py
*.pyc
.work_dir_tmp_file.txt
*.log
val_log/
checkpoints/
mmdetection3d
__pycache__
data/*
#!data/2-split_data.py
#!data/5-cut-inside-seq.py
!data/convert_data.py
!data/__init__.py

